# Dependency directory
node_modules

# Example client source
example

# Project source
public
src

# Project files
.babelrc
.eslintignore
.gitignore
static.json

# README gif
rca_demo.gif

# Optional npm cache directory
.npm